/Clase2/nbproject/private/
/Clase2/build/
/Clase1/TablaMultiplicar/nbproject/private/
/Clase3/nbproject/private/
/Clase3/build/
/Clase4/nbproject/private/
/Clase4/build/
/Herencias/nbproject/private/
/Clase6/nbproject/private/
/Clase6/build/